<h1>{{title}}</h1>
<p>Welcome to log console</p>
<form action="./" method="post">
	<label for="appId">应用ID(AppID):
		<input type="text" name="appId" value="{{user.appId}}">
	</label>
	<label for="devId">设备标识(IMEI/IDFA):
		<input type="text" name="devId" value="{{user.devId}}">
	</label>
	<input type="submit" name="submit" value="Query">
</form>
<ul>
	{{#each logs}}
	<li>{{id}} {{name}} </li>
	{{/each}}
</ul>