<a href="/{{pathPrefix}}">root</a>
<p>Login from <b>{{session.remoteAdress}}</b></p>
<p></p>
<form action="./" method="post">
	<label for="appId">应用ID(AppID):
		<input type="text" name="appId" value="{{user.appId}}">
	</label>
	<label for="appId">渠道ID(ChannelID):
		<input type="text" name="channelId" value="{{user.channelId}}">
	</label>
	<label for="devId">设备标识(IMEI/IDFA):
		<input type="text" name="devId" value="{{user.devId}}">
	</label>
	<label for="ipAddress">IP地址:
		<input type="text" name="ipAddress" value="{{user.ipAddress}}">
	</label>
	<input type="submit" name="submit" value="Query">
</form>

<pre>cmd={{cmd}}</pre>{{error}}

<h2>Stat Logs</h2>
<div class="rTable"><div class="rTableRow">
	<div class="rTableHead"><strong>Event</strong></div>
	<div class="rTableHead"><strong>rTime</strong></div>
	<div class="rTableHead"><strong>AppId</strong></div>
	<div class="rTableHead"><strong>UID</strong></div>
	<div class="rTableHead"><strong>Channel</strong></div>
	<div class="rTableHead"><strong>DevID</strong></div>
	<div class="rTableHead"><strong>Account</strong></div>
	<div class="rTableHead"><strong>Role</strong></div>
	<div class="rTableHead"><strong>rName</strong></div>
	<div class="rTableHead"><strong>rTime</strong></div>
	<div class="rTableHead"><strong>eValue</strong></div>
</div>

{{#each logs}}
<div class="rTableRow">
	<div class="rTableCell">{{eventId}}</div>
	<div class="rTableCell">{{receiveTime}}</div>
	<div class="rTableCell">{{appId}}</div>
	<div class="rTableCell">{{uid}}</div>
	<div class="rTableCell">{{channelId}}</div>
	<div class="rTableCell"> {{devId}}</div>
	<div class="rTableCell">{{accountId}}</div>
	<div class="rTableCell">{{roleId}}</div>
	<div class="rTableCell"> {{roleName}}</div>
	<div class="rTableCell">{{eventValue}}</div>
</div>
{{/each}}

<div class="rTableRow">
	<div class="rTableHead"><strong>Event</strong></div>
	<div class="rTableHead"><strong>rTime</strong></div>
	<div class="rTableHead"><strong>AppId</strong></div>
	<div class="rTableHead"><strong>UID</strong></div>
	<div class="rTableHead"><strong>Channel</strong></div>
	<div class="rTableHead"><strong>DevID</strong></div>
	<div class="rTableHead"><strong>Account</strong></div>
	<div class="rTableHead"><strong>Role</strong></div>
	<div class="rTableHead"><strong>rName</strong></div>
	<div class="rTableHead"><strong>rTime</strong></div>
	<div class="rTableHead"><strong>eValue</strong></div>
</div></div>