<a href="..">返回上级</a>
<p></p>
<form action="./" method="post">
	<label for="appId">应用ID(AppID):
		<input type="text" name="appId" value="{{user.appId}}">
	</label>
	<label for="devId">设备标识(IMEI/IDFA):
		<input type="text" name="devId" value="{{user.devId}}">
	</label>
	<label for="ipAddress">IP地址:
		<input type="text" name="ipAddress" value="{{user.ipAddress}}">
	</label>
	<input type="submit" name="submit" value="Query">
</form>
<ul>
	<pre>cmd={{cmd}}</pre>{{error}}
	{{#each logs}}
	<li>{{eventId}} {{receiveTime}} {{appId}} {{uid}} {{channelId}} {{devId}} {{accountId}} {{roleId}} {{roleName}} {{eventValue}}</li>
	{{/each}}
</ul>