<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{#if PROD_MODE}}
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {{else}}
      <script src="/{{pathPrefix}}/js/vue.js"></script>
    {{/if}}
    <link rel='stylesheet' href='/{{pathPrefix}}/css/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
